# APP
NEXT_PUBLIC_APP_URL=

# APPWRITE (Identity + EPK)
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_PROJECT_NAME=
NEXT_PUBLIC_APPWRITE_ENDPOINT=
APPWRITE_API_KEY=

# RESEND (Email)
RESEND_API_KEY=
RESEND_WEBHOOK_SECRET=

# STORAGE (Cloudflare R2 or similar)
STORAGE_BUCKET_NAME=
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=

# PAYMENTS (Razorpay)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
